<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <style>
        body, html {
            height: 95%;
            display: grid;
        }
        span { /* thing to center */
            margin: auto;
        } 
    </style>
</head>

<body>
    <span>
        I'm a block-level element of an unknown height and width, centered vertically within my parent.
        <ul>
            <li>List 1</li>
            <li>List 2</li>
            <li>List 3</li>
        </ul>
    </span>
</body>
</html>